container_commands:
  01_fix_static_cors:
    command: "/tmp/fix_static_cors.sh"
files:
  "/tmp/fix_static_cors.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/bin/bash
      pushd $(/opt/elasticbeanstalk/bin/get-config container -k config_staging_dir)
      echo "Adding CORS Config"
      PROXY_CONF="/opt/elasticbeanstalk/support/conf/webapp_healthd.conf"
      grep static_cors.config $PROXY_CONF || sed -i '/location \/assets {/a \ \ \ \ include /etc/nginx/conf.d/static_cors.config;' $PROXY_CONF
  "/etc/nginx/conf.d/static_cors.config":
    mode: "000644"
    owner: root
    group: root
    content: |
        location ~ ^/assets/ {
            # add_header 'Access-Control-Allow-Origin' '*';  # use only for debugging

            add_header 'Access-Control-Allow-Origin' 'http://its-3doc-production-env.8fgpa9wwnj.ap-southeast-1.elasticbeanstalk.com';
            add_header 'Access-Control-Allow-Methods' 'GET, OPTIONS';

            # ...
        }