$('body').append("<%= escape_javascript(render partial: 'projects/new_project') %>");

var title = false;
var description = false;
var tech = false;

$('#new-project-container').on('click', function(e) {
	  if (e.target !== this)
	    return;
	  $(this).fadeOut(500, function() {
	  	$(this).remove();
	  });
});


$('#close-btn').on('click', function(e){
	$('#new-project-container').fadeOut(500, function() {
	  	$('#new-project-container').remove();
	});
});


$('#title-input').on('change keyup paste', function(e) {
	var max = 65;
	var length = $(this).val().length;
	var available = max-length;
	$('#variable-num-title').text(available);

	title = checkIfNull(this, length);
});

$('#description-input').on('change keyup paste', function(e) {
	var max = 255;
	var length = $(this).val().length;
	var available = max-length;
	$('#variable-num-description').text(available);

	description = checkIfNull(this, length);
});

$('#tech-input').on('change keyup paste', function(e) {
	var max = 30;
	var length = $(this).val().length;
	var available = max-length;
	$('#variable-num-tech').text(available);

	tech = checkIfNull(this, length);
});

$('#title-input, #description-input, #tech-input').on('change keyup paste', function() {
	if(title && description && tech) {
		$('.p-btn').removeClass("disabled-btn");
		$('.p-btn').addClass("propose-btn")
	}
	else {
		$('.p-btn').removeClass("propose-btn");
		$('.p-btn').addClass("disabled-btn");
	}
});

$('.p-btn').click(function(event) {
	$(".error-message").remove();
	if(!title) {
		event.preventDefault();
		$("#title-input").addClass("warning-border");
		$("#title-row").append('<div class="error-message">This field is required</div>');
	}
	else {
		$("#title-row > .error-message").remove();
	}

	if(!description) {
		event.preventDefault();
		$("#description-input").addClass("warning-border");
		$("#description-row").append('<div class="error-message">This field is required</div>');
	}
	else {
		$("#description-row > .error-message").remove();
	}

	if(!tech) {
		event.preventDefault();
		$("#tech-input").addClass("warning-border");
		$("#tech-row").append('<div class="error-message">This field is required</div>');
	}
	else {
		$("#tech-row > .error-message").remove();
	}
});


function checkIfNull(destination, length) {
	var content = $(destination).val();
	if(length === 0 || $.trim($(destination).val()) == '') {
		$(destination).addClass("warning-border");
		return false;
	}
	else {
		$(destination).removeClass("warning-border");
		return true;
	}
}