<div class="wrapper">
  <%= image_tag "3doc_logo.png", size: "240x145", alt: "3 Days of Code"%>
  <h3>Hello <%= @participant_name %>,</h3>

  <div>We are sorry to inform you that you request to join the team with title of <strong>"<%= @proposal_title %>"</strong> has been <strong>denied</strong>.</div><br>

  <div>Nevertheless, there are still other teams available around you and you still can request to join other teams. If you have your own ideas, you can propose a topic and ask other participants to join you as well.</div><br>

  <div>If there are any inquiries or difficulties you are having concerning the event, feel free to reach us through our 3 Days of Code page on <%= link_to "Facebook", "https://www.facebook.com/3DaysofCode/?ref=br_rs", target: :_blank %> and we will tend to you shortly.</div><br>

  <div>Shine bright in this hackathon and rocks!!!</div>
  <br>
  <div>Sincerely, <br>
  Committess of 3 Days of Code<br>
  IT Society<br>
  Multimedia University Cyberjaya</div>
</div>