<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= image_tag "3doc_logo.png", size: "240x120", alt: "3 Days of Code"%>
    <h3>Dear <%= @leader.name %>,</h3><br>
    <p>Good day to you</p><br>

    <p>We would like to remind you that currently you do not have any team members in your team. Here are some suggestions that we would wish to present to you: <br>
    1. You can modify yout title or description of your project so that it looks more interesting to attract other participants.<br>
    2. Do not hesitate in contacting those participants in your Pending List.<br>
    3. If you really find it hard to form a team with your title, why not try to join other team and try to combine your ideas with them. </p><br>

    <p>We wish you could enjoy forming your team and discussing with them.</p><br>

    <p>Looking forward to seeing you and have a nice day ahead! </p>
    <br>
    <p>Sincerely,<br>
    Committees of 3 Days of Code<br>
    IT Society<br>
    MMU Cyberjaya.</p>
    
  </body>
</html>