.all-data {
	width: 100%;
}

.all-participant {
	height: max-content;
	font-size: 110%;
	margin: 1%;
	padding: 2%;
}

.all-participant-title-row,
.all-team-title-row {
	padding: 1.5% 2%;
}

.all-participant-title,
.back-main-page {
	float: left;
	font-size: 135%;
	text-align: left;
	font-weight: bold;
}

.new-participant,
.result {
	display: inline-block;
	font-size: 135%;
	float: right;
	font-weight: bold;
}

.all-participant-title {
	padding-right: 2%;
}

.back-main-page {
	padding-left: 2%;
	color: #526E86;
}

.back-main-page:hover {
	color: #526E86;
	text-decoration: underline;
}

.all-participant-row {
	display: block;
	width: 100%;
	margin-bottom: 1%;
}

.all-participant-header::after {
	content: "";
	height: 1px;
	width: 100%;
	display: inline-block;
	border-bottom: 1px solid;
	opacity: 0.2;
}

.all-participant-label {
	text-align: center;
	font-weight: bold;
}

.all-participant-count {
	display: inline-block;
	float: left;
	width: 10%
}

.all-participant-name {
	display: inline-block;
	float: left;
	width: 30%;
}

.all-participant-email {
	display: inline-block;
	float: left;
	width: 25%;
}

.all-participant-contact {
	display: inline-block;
	float: left;
	width: 20%;
}

.all-participant-status {
	display: inline-block;
	float: left;
	width: 15%;
}

.all-team {
	margin: 3% 1%;
	padding: 2%;
	font-size: 110%;
}

.all-team-title {
	text-align: left;
	font-size: 135%;
	font-weight: bold;
	float: left;
}

.team {
	padding-bottom: 1%;
}

.team form {
	display: block;
    width: 100%;
    padding: 1% 10%;
}

.top5-btn {
	float: left;
	background-color: transparent;
	border: 1px solid #526E86;
	padding: 0.5% 2%;
	color: #526E86;
	transition: all 0.5s ease;
}

.top5-btn:hover {
	background-color: #526E86;
	color: #fff;
}

.all-team-count {
	display: inline-block;
	text-align: center;
	width: 10%;
	float: left;
	font-size: 110%;
	font-weight: bold;
}

.all-team-proposal-title {
	display: inline-block;
	float: left;
	text-align: left;
	width: 90%;
	font-size: 110%;
	font-weight: bold;
}

.all-team-proposal-exist,
.all-team-leader-name,
.all-team-member-name {
	display: block;
    float: left;
    text-align: left;
    padding-left: 12%;
    width: 100%;
}
