.all-participant {
	width: 100%;
	height: max-content;
	margin: 2% 5%;
	font-size: 110%;
	padding: 2%;
}

.all-participant-title-row {
	padding: 0 0 2% 2%;
}

.all-participant-title,
.back-main-page {
	display: inline-block;
	float: left;
	font-size: 135%;
	text-align: left;
	font-weight: bold;
}

.all-participant-title {
	padding-right: 2%;
}

.back-main-page {
	padding-left: 2%;
}

.all-participant-row {
	display: block;
	width: 100%;
}

.all-participant-header::after {
	content: "";
	height: 1px;
	width: 100%;
	display: inline-block;
	border-bottom: 1px solid;
	opacity: 0.2;
}

.all-participant-label {
	text-align: center;
	font-weight: bold;
}

.all-participant-count {
	display: inline-block;
	float: left;
	width: 10%
}

.all-participant-name {
	display: inline-block;
	float: left;
	width: 30%;
}

.all-participant-email {
	display: inline-block;
	float: left;
	width: 25%;
}

.all-participant-contact {
	display: inline-block;
	float: left;
	width: 20%;
}

.all-participant-admin {
	display: inline-block;
	float: left;
	width: 15%;
}

