@import "bootstrap-sprockets";
@import "bootstrap";

* {
	overflow: hidden;
	margin: 0 auto;
	width: auto;
	text-align: center;
	text-decoration: none;
	font-family: 'Cabin', sans-serif;
}

body.main-page-body {
	height: 100vh;
	overflow-y: scroll;
}

footer {
	background-color: #526E86;
	color: #fff;
	font-size: 90%;
}

.navbar {
	background-color: #FAF9F8;;
	color: #fff;
	overflow: hidden;
	display: block;
	position: absolute;
	height: 8vh;
	width: 100%;
	z-index: 100;
	top: 0;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.navbar::before {
	content: '';
	background-color: #526E86;
	display: block;
	width: 100%;
	height: 5px;
}

.navbar-logo-img {
	display: inline-block;
	position: absolute;
	height: 95%;
	left: 7%;
}

.navbar-btn-group {
	display: inline-block;
	width: 45%;
	position: absolute;
	top: 55%;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);
	right: 7%;
	padding: 1px;
}

.navbar-btn-group form {
	display: inline;
	width: auto;
}

.logout-btn,
.new-btn,
.all-participant-btn {
	float: right;
	padding: 1% 3%;
	margin: 0 2%;
	width: max-content;
	background-color: transparent;
	-webkit-transition: background-color 0.5s ease;
	-o-transition: background-color 0.5s ease;
	transition: background-color 0.5s ease;
}

.logout-btn {
    color: #D75E53;
    border: 1px solid #D75E53;
}

.new-btn {
	color: #EA6E2D;
	border: 1px solid #EA6E2D;
}

.all-participant-btn {
	color: #526E86;
	border: 1px solid #526E86;
}

.logout-btn:hover {
	background-color: #D75E53;
	color: #fff;
}

.new-btn:hover {
	background-color: #EA6E2D;
	color: #fff;
}

.all-participant-btn:hover {
	background-color: #526E86;
	color: #fff;
}

.logout-btn .glyphicon,
.new-btn .glyphicon,
.all-participant-btn .glyphicon {
	float: left;
	margin-top: 2px;
}

.logout-word,
.new-participant-word,
.all-participant-word {
	display: inline-block;
	float: right;
	margin-left: 10px;
}

.navbar .small-screen-btn {
	display: none;
}

.body-container {
	max-width: 85%;
	margin-top: 10vh;
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100%;
    height: auto;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: space-evenly;
	-ms-flex-pack: space-evenly;
	justify-content: space-evenly;
}

.panel-shadow {
	-webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	border-top: 1px solid #D3D6D9;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.middle-panel {
	-webkit-box-flex: 2;
	-ms-flex-positive: 2;
	flex-grow: 2;
	margin: 1%;
    padding: 0 1%;
	height: -webkit-min-content;
	height: -moz-min-content;
	height: min-content;
}

.new-proposal {
	display: block;
	width: 100%;
	margin-bottom: 5%;
	border: none
}

.new-proposal-btn {
	display: block;
	width: 100%;
    background-color: transparent;
    padding: 2%;
    font-size: 115%;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    letter-spacing: 0.5px;
    background-color: #fff;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #ADACAC;
	color: #526E86;
	-webkit-transition: background-color 0.5s ease;
	-o-transition: background-color 0.5s ease;
	transition: background-color 0.5s ease;
}

.new-proposal-btn:hover {
	background-color: #526E86;
	color: #fff;
}

.proposal-wrapper {
	display: block;
	position: relative;
	height: auto;
	width: 100%;
	margin-bottom: 2%;
}

.proposal {
	display: block;
	position: relative;
	padding: 1% 2% 2% 2%;	
}

.proposal::after {
	content: "";
	height: 1%;
	width: 80%;
	display: block;
	position: absolute;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	bottom: 0;
	left: 10%;
	border-bottom: 1px solid #ADACAC;
	background-color: transparent;
}

.proposal:last-child::after {
	display: none;
}

.theme-icon {
	display: block;
	height: 100%;
	width: 80%;
    padding: 5%;
    margin: auto;
}

.image-wrapper {
	display: block;
    position: relative;
    float: left;
    width: 20%;
    height: 100%;
    margin-top: 1%;
}

.content-wrapper {
	display: block;
    position: relative;
    width: 80%;
    margin-left: 0;
    float: right;
    height: 100%;
}

.proposal-title {
    display: block;
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 150%;
    margin: auto;
    padding: 2% 0 1% 2%;
    word-wrap: break-word;
}

.proposal-theme-1, 
.proposal-theme-2, 
.proposal-theme-3 {
	display: none;
}

.proposal-description {
    display: block;
    position: relative;
    text-align: left;
    padding: 0 2%;
    word-wrap: break-word;
}

.proposal-tech {
	display: block;
    position: relative;
    text-align: left;
    padding: 2% 2% 1% 2%;
    word-wrap: break-word;
}

.proposal-status {
	display: block;
	position: relative;
	text-align: left;
	font-size: 90%;
	opacity: 0.8;
	padding: 1% 0 1% 2%;
	word-wrap: break-word;
}

.proposal-btn .proposal-edit,
.proposal-btn .proposal-req,
.proposal-btn .proposal-cancel-req {
	display: inline-block;
    float: left;
    margin-left: 2%;
    margin-bottom: 2%;
    padding: 0.5% 8%;
    background-color: transparent;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 90%;
	font-weight: bold;
	-webkit-transition: background-color 0.5s ease;
	-o-transition: background-color 0.5s ease;
	transition: background-color 0.5s ease;
}

.proposal-edit {
	border: 1px solid #EA6E2D;
	color: #EA6E2D;
}

.proposal-edit:hover {
	background-color: #EA6E2D;
	color: #fff;
}

.proposal-btn .proposal-req {
	border: 1px solid #80BC40;
	color: #80BC40;
}

.proposal-btn .proposal-req:hover {
	background-color: #80BC40;
	color: #fff;
}

.proposal-btn .proposal-cancel-req {
	width: auto;
	border: 1px solid #D75E53;
	color: #D75E53;
	margin-top: 0;
}

.proposal-btn .proposal-cancel-req:hover {
	background-color: #D75E53;
	color: #fff;
}

.right-panel {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	height: auto;
	display: block;
	margin: 1%;
	min-width: 30%;
	max-width: 350px;
}

.leader-panel,
.member-panel,
.team-panel {
	display: block;
	height: auto;
	padding: 8% 5% 0 5%;
	margin-bottom: 10%;
	margin: 0 2% 10% 2%;
}

.panel-title {
	display: block;
    font-size: 150%;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin: 0 5%;
    word-wrap: break-word;
    text-align: left;
}

.panel-description {
	display: block;
	position: relative;
	font-size: 115%;
	margin: 0 5%;
	text-align: left;
	line-height: 115%;
	padding-bottom: 5%;
}

.pending-row,
.team-member-row {
	display: block;
	position: relative;
	padding: 5% 0;
}

.pending-row:after,
.team-member-row:after {
	content: "";
	height: 1%;
	width: 90%;
	display: block;
	position: absolute;
	box-sizing: border-box;
	bottom: 0;
	left: 5%;
	border-bottom: 1px solid #ADACAC;
	background-color: transparent;
}

.pending-row:last-child::after,
.team-member-row:last-child::after {
	display: none;
}

.data-row {
	display: block;
    position: relative;
    margin: 0;
    padding: 0 5%;
}

.pending-label {
	display: block;
    width: 35%;
    float: left;
    text-align: right;
    word-wrap: break-word
}

.participant-name,
.pending-title,
.team-member-name {
	display: inline-block;
	float: left;
	font-size: 125%;
	text-align: left;
	width: 70%;
	line-height: 125%;
	padding-bottom: 1%;
}

.participant-email,
.participant-contact,
.pending-status, 
.pending-leader-name,
.pending-leader-email,
.pending-leader-contact,
.team-member-email,
.team-member-contact,
.team-member-leave {
	display: inline-block;
    float: left;
    opacity: 0.7;
    line-height: 120%;
    text-align: left;
}

.participant-req-time {
	display: inline-block;
    float: right;
    opacity: 0.6;
    max-width: 29%;
    font-size: 80%;
    padding-top: 3px;
    word-wrap: break-word;
}

.pending-btn,
.leaving-btn {
	display: block;
	position: relative;
	padding: 2% 5% 0 5%;
}

.pending-btn form,
.leaving-btn form {
	display: inline-block;
    width: 49%;
}

.accept-btn,
.deny-btn,
.cancel-req-btn,
.acknowledge-btn,
.stay-btn {
	width: 95%;
	display: block;
	padding: 2%;
	background-color: transparent;
	box-sizing: border-box;
}

.accept-btn,
.stay-btn {
    float: left;
    border: 1px solid #80BC40;
    color: #80BC40;
	-webkit-transition: background-color 0.5s ease;
	-o-transition: background-color 0.5s ease;
	transition: background-color 0.5s ease;
}

.accept-btn:hover,
.stay-btn:hover {
	background-color: #80BC40;
	color: #fff;
}

.deny-btn,
.acknowledge-btn {
	float: right;
	border: 1px solid #D75E53;
	color: #D75E53;
	-webkit-transition: background-color 0.5s ease;
	-o-transition: background-color 0.5s ease;
	transition: background-color 0.5s ease;
}

.deny-btn:hover,
.acknowledge-btn:hover {
	background-color: #D75E53;
	color: #fff;
}

.cancel-req-btn {
	width: 49%;
	float: left;
	margin-top: 2%;
	border: 1px solid #D75E53;
	color: #D75E53;
	-webkit-transition: background-color 0.5s ease;
	-o-transition: background-color 0.5s ease;
	transition: background-color 0.5s ease;
}

.cancel-req-btn:hover {
	background-color: #D75E53;
	color: #fff;
}

.member-data-row {
	display: block;
    position: relative;
    margin: 0;
    padding: 0 5%;
}

.leave-btn {
	width: 85%;
	margin: 2%;
	background-color: transparent;
	padding: 2%;
	border: 1px solid #D75E53;
	color: #D75E53;
	-webkit-transition: background-color 0.5s ease;
	-o-transition: background-color 0.5s ease;
	transition: background-color 0.5s ease;
}

.leave-btn:hover {
	background-color: #D75E53;
	color: #fff;
}

.member-leave {
	padding: 2% 0;
	opacity: 0.8;
}

.team-member-leave {
	padding-top: 5%;
}

.small-message {
	padding: 0 5%;
	font-size: 90%;
	opacity: 0.8;
}

footer a {
	color: #fff;
}

footer a:hover {
	color: #A7ADA5;
}


@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.navbar {
		min-height: 75px;
		max-height: 80px;
		-webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
		box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	}

	.navbar-logo-img {
		left: 3%;
	}

	.navbar-btn-group {
		right: 3%;
	}

	.half-word {
		display: none;
	}

	.logout-btn {
		right: 3%;
	}

	.body-container {
		max-width: 95%;
		margin-top: 100px;
	}
}

@media only screen and (max-width: 767px) {
	.navbar {
	    min-height: 65px;
	    -webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	}

	.navbar .small-screen-btn {
		display: inline-block;
		position: absolute;
		left: 2%;
		top: 55%;
		-webkit-transform: translate(0, -50%);
		-ms-transform: translate(0, -50%);
		transform: translate(0, -50%);
		background-color: transparent;
		color: #EA6E2D;
		border: none;
		font-size: 175%;
	}

	.navbar-logo-img {
		display: inline-block;
		position: unset;
	}

	.new-btn,
	.all-participant-btn {
		display: none;
	}

	.logout-btn {
		color: #D75E53;
		background-color: transparent;
		border: none;
		font-size: 175%;
		right: 2%;
	}

	.logout-btn .logout-word {
		display: none;
	}

	.logout-btn .glyphicon {
		margin: 0;
	}

	.body-container {
		margin-top: 75px;
		margin-bottom: 25px;
		min-width: 100%;
	}

	.middle-panel {
		margin: 1%;
	}

	.image-wrapper {
		display: none;
	}

	.content-wrapper {
		min-width: 100%;
	}

	.new-proposal {
		-webkit-box-shadow: unset;
		box-shadow: unset;
		margin: 2% 0;
	}

	.new-proposal-btn {
		color: #fff;
		background-color: #526E86;
		letter-spacing: 0;
		font-size: 120%;
		width: 96%;
		margin: 2%;
		border-radius: 3px;
	}
	
	.proposal {
		overflow: hidden;
	}

	.proposal-wrapper {
		-webkit-box-shadow: none;
        box-shadow: none;
		border-top: none;
	}
	
	.proposal-title {
		font-size: 185%;
		text-align: left;
	}

	.proposal-theme-1, 
	.proposal-theme-2, 
	.proposal-theme-3 {
		display: block;
		position: relative;
		text-align: left;
		padding: 1% 2%;
		font-weight: bold;
		font-size: 115%;
	}

	.proposal-theme-1 {
		color: #EA6E2D;
	}

	.proposal-theme-2 {
		color: #1D94BF;
	}

	.proposal-theme-3 {
		color: #5C8A2B;
	}

	.proposal-description {
		font-size: 115%;
	}

	.proposal-btn .proposal-edit,
	.proposal-btn .proposal-req,
	.proposal-btn .proposal-cancel-req {
		width: 96%;
	    margin: 2%;
	    padding: 2%;
	    color: #fff;
	    border-radius: 3px;
	    font-size: 110%;
	}

	.proposal-btn .proposal-req {
		background-color: #80BC40;
	}

	.proposal-btn .proposal-cancel-req {
		background-color: #D75E53;
	}

	.proposal-btn .proposal-edit {
		background-color: #EA6E2D;
	}

	.right-panel {
		display: none;
	}

	.leader-panel,
	.member-panel,
	.team-panel {
		-webkit-box-shadow: unset;
        box-shadow: unset;
        overflow: hidden;
		border-top: none;
		padding: 0;
		margin: 0;
	}

	.team-panel {
		margin-top: 25%;
	    margin-bottom: 8%;
	}

	.member-panel {
		margin-bottom: 8%;
	}

	.panel-title {
		margin-top: 5%;
		font-size: 185%;
	}

	.panel-description {
		font-size: 115%;
	    margin: 2% 5% 0 5%;
	    padding: 0;
	}

	.pending,
	.pending-row,
	.team-member,
	.team-member-row,
	.data-row {
		overflow: hidden;
	}

	.participant-req-time {
		padding-top: 8px;
	}

	.participant-name, 
	.pending-title, 
	.team-member-name {
		font-size: 145%;
	}

	.participant-email,
	.participant-contact,
	.pending-status, 
	.pending-leader-name,
	.pending-leader-email,
	.pending-leader-contact,
	.team-member-email,
	.team-member-contact,
	.team-member-leave {
		line-height: unset;
		font-size: 110%;
	}

	.pending-btn form,
	.leaving-btn form  {
		width: 96%;
		font-size: 110%;
		font-weight: bold;
	}

	.accept-btn,
	.deny-btn,
	.cancel-req-btn,
	.acknowledge-btn,
	.stay-btn {
		width: 100%;
		border-radius: 3px;
		color: #fff;
		margin-top: 2%;
	}

	.accept-btn,
	.stay-btn {
		background-color: #80BC40;
	}

	.cancel-req-btn,
	.acknowledge-btn,
	.deny-btn {
		background-color: #D75E53;
	}

	.pending-btn,
	.leaving-btn {
		padding: 2% 2% 0 2%;
	}

	.leave-btn {
		background-color: #D75E53;
		color: #fff;
		border-radius: 3px;
		width: 96%;
		font-weight: bold;
	}

	.small-message {
		font-size: 110%;
	}
}