<div class="body-container">
	<div class="vote-result">
		<div class="vote-result-header">
			General Votes Result
		</div>

		<div class="chart">
			<div class="show-chart">
				<div class="show-chart-para">
					The result is ready. Let's see how it looks.
				</div>
				<div class="show-chart-btn">
					<%= button_to get_general_result_votes_path, method: :get, remote: true, class: 'g-result-btn' do%>
						Generate Result
					<% end %>
				</div>
			</div>	
		</div>

		
	</div>
</div>
