<div class="body-container">
	<div class="redirect-container">
		Thank you for supporting 3 Days of Code. Our voting sessions will be on third day of this event (21st April 2019). Our committees are trying hard to provide you the best experience on this voting platform. So stay tune and have a nice day ahead!
	</div>
</div>