<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <style>
      * {
      font-family: 'Lato', sans-serif;
      font-size: 100%;
      }

      body {
        background-color: #526E86;
      }
      
      .wrapper {
        width: 90%;
        border: 1px solid #ADACAC;
        background-color: #fff;
        margin: auto;
        margin-top: 50px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        padding: 2%;
      }

      img {
        display: block;
        margin: auto;
      }

    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
